<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="footer-panel">
      <section class="info_section layout_padding">
        <div class="container">
          
        </div>
      </section>
      <!-- footer section -->
      <section class="container-fluid footer_section">
        <p> Copyright &copy; 2022 All Rights Reserved By <a href="mailTo:shabbir.manasawala52@gmail.com">Shabbir Manasawala +91 8850831151</a>
        </p>
      </section>
      <!-- footer section -->
      <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.js"></script>
    </div>
  </body>
</html>
